<h1><%= t('.appointments') %></h1>

<table class="table table-striped">
  <thead>
    <th><%= t('.patient') %></th>
    <th><%= t('.datetime') %></th>
    <th><%= t('.status') %></th>
    <th><%= t('.recommendation') %></th>
  </thead>

  <tbody>
    <%- @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.patient.decorate.full_name %></td>
        <td><%= appointment.datetime %></td>
        <td><%= appointment.status %></td>
        <td>
          <%- if appointment.recommendation %>
            <%= appointment.recommendation.content %>
          <%- else %>
            <%= link_to t('.leave_recommendation'), new_appointment_recommendation_path(appointment), class: 'btn btn-primary' %>
          <%- end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
