%h1= t('.leave_recommendation')
= form_with model: [:appointment, @recommendation], data: { turbo: false } do |form|
  = render 'shared/form_errors', resource: @recommendation
  .mb-3
    %label.form-label{for: 'recommendation_content'}= t('.write_recommendation_content')
    = form.text_field :content, class: 'form-control', required: true
  = form.submit class: 'btn btn-primary'
