<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
  <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
    <li><%= link_to(t('partials.header.profile'), patient_root_path, class: 'nav-link px-2 text-white') %></li>
    <li><%= link_to(t('partials.header.doctors'), doctors_path, class: 'nav-link px-2 text-white') %></li>
    <li><%= link_to(t('partials.header.appointments'), appointments_path, class: 'nav-link px-2 text-white') %></li>
    <li><%= link_to(t('partials.header.make_appointment'), new_appointment_path, class: 'nav-link px-2 text-white') %></li>
  </ul>

  <div class="text-end">
    <%= button_to t('patials.header.logout'), destroy_patient_session_path, method: :delete, class: 'btn btn-warning' %>
  </div>
</div>
